###### Working Directory

Before getting started, let us understand what a working directory is...

In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\Haripreeth Avarur\\Desktop\\Python'

To Import the libraries into python, there are 3 methods:
    
    1. Placing the file in your working directory:
        so, for ex. here go to C:\\Users\\Haripreeth Avarur\\Desktop\\Python and place the file 
        
    2. Changing the working directory itself:
        os.chdir('#Paste the directory of the file here') and change the slash to forward slash
        
    3. Read the directory directly by the path:
        df = pd.read_csv('#paste the directory(change to forward slash) and / dataset name.filetype')

# Pandas

In [3]:
#Import the libraries 
import numpy as np #as np is an alias
import pandas as pd

#### Reading & Writing Files

In [4]:
txt_df=pd.read_csv('Data.csv') 
print(txt_df)

   OrderDate   Region      Rep      Item  Units   Unit Cost     Total
0   01-06-16     East    Jones    Pencil      95      1.990    189.05
1    1-23-16  Central   Kivell    Binder      50     19.990    999.50
2   02-09-16  Central  Jardine    Pencil      36      4.990    179.64
3    2-26-16  Central     Gill       Pen      27     19.990    539.73
4    3-15-16     West  Sorvino    Pencil      56      2.990    167.44
5   04-01-16     East    Jones    Binder      60      4.990    299.40
6    4-18-16  Central  Andrews    Pencil      75      1.990    149.25
7   05-05-16  Central  Jardine    Pencil      90      4.990    449.10
8    5-22-16     West  Thomson    Pencil      32      1.990     63.68
9   06-08-16     East    Jones    Binder      60      8.990    539.40
10   6-25-16  Central   Morgan    Pencil      90      4.990    449.10
11  07-12-16     East   Howard    Binder      29      1.990     54.71
12   7-29-16     East   Parent    Binder      81     19.990  1,619.19
13   8-15-16     East    Jones    Pencil      35      4.990    174.65
14  09-01-16  Central    Smith      Desk       2    125.990    250.00
15   9-18-16     East    Jones   Pen Set      16     15.990    255.84
16  10-05-16  Central   Morgan    Binder      28      8.990    251.72
17  10-22-16     East    Jones       Pen      64      8.990    575.36
18  11-08-16     East   Parent       Pen      15     19.990    299.85
19  11-25-16  Central   Kivell   Pen Set      96      4.990    479.04
20  12-12-16  Central    Smith    Pencil      67      1.290     86.43
21  12-29-16     East   Parent   Pen Set      74     15.990  1,183.26
22   1-15-17  Central     Gill    Binder      46      8.990    413.54
23  02-01-17  Central    Smith    Binder      87     15.000  1,305.00
24   2-18-17     East    Jones    Binder       4      4.990     19.96
25  03-07-17     West  Sorvino    Binder       7     19.990    139.93
26   3-24-17  Central  Jardine   Pen Set      50      4.990    249.50
27  04-10-17  Central  Andrews    Pencil      66      1.990    131.34
28   4-27-17     East   Howard       Pen      96      4.990    479.04
29   5-14-17  Central     Gill    Pencil      53      1.290     68.37
30   5-31-17  Central     Gill    Binder      80      8.990    719.20
31   6-17-17  Central   Kivell      Desk       5    125.000    625.00
32  07-04-17     East    Jones   Pen Set      62      4.990    309.38
33   7-21-17  Central   Morgan   Pen Set      55     12.490    685.95
34  08-07-17  Central   Kivell   Pen Set      42     23.950  1,005.90
35   8-24-17     West  Sorvino      Desk       3    275.000    825.00
36  09-10-17  Central     Gill    Pencil       7      1.290      9.03
37   9-27-17     West  Sorvino       Pen      76      1.990    151.24
38  10-14-17     West  Thomson    Binder      57     19.199  1,139.43
39  10-31-17  Central  Andrews    Pencil      14      1.290     18.06
40  11-17-17  Central  Jardine    Binder      11      4.990     54.89
41  12-04-17  Central  Jardine    Binder      94     19.990  1,879.06
42  12-21-17  Central  Andrews    Binder      28      4.990    139.72

In [5]:
#Head FUnction
txt_df.head() #calls the first 5 rows, but you can pass the number of rows in the ().

  OrderDate   Region      Rep    Item  Units   Unit Cost   Total
0  01-06-16     East    Jones  Pencil      95       1.99  189.05
1   1-23-16  Central   Kivell  Binder      50      19.99  999.50
2  02-09-16  Central  Jardine  Pencil      36       4.99  179.64
3   2-26-16  Central     Gill     Pen      27      19.99  539.73
4   3-15-16     West  Sorvino  Pencil      56       2.99  167.44

###### To save the updated dataset (Dataframe to CSV)

In [6]:
txt_df.to_csv('first_df.csv')

###### Data Operations on new DF

In [7]:
#Column Function - to view the columns of the DF
import numpy as np
import pandas as pd
txt_df=pd.read_csv('Data.csv')


txt_df.columns

Index(['OrderDate', 'Region', 'Rep', 'Item', 'Units ', 'Unit Cost', 'Total'], dtype='object')

In [8]:
#Shape Function - to validate number of rows and col.
txt_df.shape

(43, 7)

In [9]:
#Tail Function - calls the last 5 rows of the Dataset
txt_df.tail()

   OrderDate   Region      Rep    Item  Units   Unit Cost     Total
38  10-14-17     West  Thomson  Binder      57     19.199  1,139.43
39  10-31-17  Central  Andrews  Pencil      14      1.290     18.06
40  11-17-17  Central  Jardine  Binder      11      4.990     54.89
41  12-04-17  Central  Jardine  Binder      94     19.990  1,879.06
42  12-21-17  Central  Andrews  Binder      28      4.990    139.72

##### Data Understanding

In [10]:
#Info function - gives datatype of the col. in dataset 
txt_df.info

<bound method DataFrame.info of    OrderDate   Region      Rep      Item  Units   Unit Cost     Total
0   01-06-16     East    Jones    Pencil      95      1.990    189.05
1    1-23-16  Central   Kivell    Binder      50     19.990    999.50
2   02-09-16  Central  Jardine    Pencil      36      4.990    179.64
3    2-26-16  Central     Gill       Pen      27     19.990    539.73
4    3-15-16     West  Sorvino    Pencil      56      2.990    167.44
5   04-01-16     East    Jones    Binder      60      4.990    299.40
6    4-18-16  Central  Andrews    Pencil      75      1.990    149.25
7   05-05-16  Central  Jardine    Pencil      90      4.990    449.10
8    5-22-16     West  Thomson    Pencil      32      1.990     63.68
9   06-08-16     East    Jones    Binder      60      8.990    539.40
10   6-25-16  Central   Morgan    Pencil      90      4.990    449.10
11  07-12-16     East   Howard    Binder      29      1.990     54.71
12   7-29-16     East   Parent    Binder      81     19.990  1,619.19
13   8-15-16     East    Jones    Pencil      35      4.990    174.65
14  09-01-16  Central    Smith      Desk       2    125.990    250.00
15   9-18-16     East    Jones   Pen Set      16     15.990    255.84
16  10-05-16  Central   Morgan    Binder      28      8.990    251.72
17  10-22-16     East    Jones       Pen      64      8.990    575.36
18  11-08-16     East   Parent       Pen      15     19.990    299.85
19  11-25-16  Central   Kivell   Pen Set      96      4.990    479.04
20  12-12-16  Central    Smith    Pencil      67      1.290     86.43
21  12-29-16     East   Parent   Pen Set      74     15.990  1,183.26
22   1-15-17  Central     Gill    Binder      46      8.990    413.54
23  02-01-17  Central    Smith    Binder      87     15.000  1,305.00
24   2-18-17     East    Jones    Binder       4      4.990     19.96
25  03-07-17     West  Sorvino    Binder       7     19.990    139.93
26   3-24-17  Central  Jardine   Pen Set      50      4.990    249.50
27  04-10-17  Central  Andrews    Pencil      66      1.990    131.34
28   4-27-17     East   Howard       Pen      96      4.990    479.04
29   5-14-17  Central     Gill    Pencil      53      1.290     68.37
30   5-31-17  Central     Gill    Binder      80      8.990    719.20
31   6-17-17  Central   Kivell      Desk       5    125.000    625.00
32  07-04-17     East    Jones   Pen Set      62      4.990    309.38
33   7-21-17  Central   Morgan   Pen Set      55     12.490    685.95
34  08-07-17  Central   Kivell   Pen Set      42     23.950  1,005.90
35   8-24-17     West  Sorvino      Desk       3    275.000    825.00
36  09-10-17  Central     Gill    Pencil       7      1.290      9.03
37   9-27-17     West  Sorvino       Pen      76      1.990    151.24
38  10-14-17     West  Thomson    Binder      57     19.199  1,139.43
39  10-31-17  Central  Andrews    Pencil      14      1.290     18.06
40  11-17-17  Central  Jardine    Binder      11      4.990     54.89
41  12-04-17  Central  Jardine    Binder      94     19.990  1,879.06
42  12-21-17  Central  Andrews    Binder      28      4.990    139.72>

In [11]:
#Describe function - to view 1 col. or to compare the col. - mean, std, median, etc. (Numerical Analysis) 
txt_df.describe()

          Units    Unit Cost
count  43.000000   43.000000
mean   49.325581   20.313233
std    30.078248   47.397741
min     2.000000    1.290000
25%    27.500000    3.990000
50%    53.000000    4.990000
75%    74.500000   17.594500
max    96.000000  275.000000

In [13]:
#Filter col. 
#1. create a new df name (ex. txt_df1)
#2. then call the old df and use 2 square brackets and mention all the col, if 
    #you want only 1 col, you can just use one square bracket (ex. txt_df1 = txt_df[['Order', 'Region', 'Value']])
    
txt_df1 = txt_df[['OrderDate', 'Region', 'Unit Cost']]
print(txt_df1)

   OrderDate   Region  Unit Cost
0   01-06-16     East      1.990
1    1-23-16  Central     19.990
2   02-09-16  Central      4.990
3    2-26-16  Central     19.990
4    3-15-16     West      2.990
5   04-01-16     East      4.990
6    4-18-16  Central      1.990
7   05-05-16  Central      4.990
8    5-22-16     West      1.990
9   06-08-16     East      8.990
10   6-25-16  Central      4.990
11  07-12-16     East      1.990
12   7-29-16     East     19.990
13   8-15-16     East      4.990
14  09-01-16  Central    125.990
15   9-18-16     East     15.990
16  10-05-16  Central      8.990
17  10-22-16     East      8.990
18  11-08-16     East     19.990
19  11-25-16  Central      4.990
20  12-12-16  Central      1.290
21  12-29-16     East     15.990
22   1-15-17  Central      8.990
23  02-01-17  Central     15.000
24   2-18-17     East      4.990
25  03-07-17     West     19.990
26   3-24-17  Central      4.990
27  04-10-17  Central      1.990
28   4-27-17     East      4.990
29   5-14-17  Central      1.290
30   5-31-17  Central      8.990
31   6-17-17  Central    125.000
32  07-04-17     East      4.990
33   7-21-17  Central     12.490
34  08-07-17  Central     23.950
35   8-24-17     West    275.000
36  09-10-17  Central      1.290
37   9-27-17     West      1.990
38  10-14-17     West     19.199
39  10-31-17  Central      1.290
40  11-17-17  Central      4.990
41  12-04-17  Central     19.990
42  12-21-17  Central      4.990

In [ ]:
#Value_counts - to find the frequency distrubution of a catagorical data
#txt_df.region.value_counts() or txt_df['Region'].value_counts() #region is a col. name

txt_df.Region.value_counts()

In [ ]:
#To create a new column by doing an operation using other cols. 
#txt_df['total'] = txt_df['Units']*txt_df['Unit Cost']

#txt_df['total'] = txt_df['Unit Cost']*txt_df['Units']
#txt_df.head()

##### Rename

In [ ]:
#To change the name of a col. 
#txt_df = txt_df.rename(columns={'total':'total sales'}) #using dictionaries, key=old name, value=new name

##### Conditions

In [ ]:
#Filter rows - Query function
#Method 1: 
txt_df.query('Region == "East" & Item == "Pencil"')
#Method 2:
txt_df[(txt_df['Region'] == 'East') | (txt_df['Item'] =='Pencil')]
#Method 3: 
regionlist = ['East', 'Central']
txt_df[txt_df.Region.isin(regionlist)]