# Data Structures

Primitive Data Structures Operations:

##### Operations on Floats

In [ ]:
x = 4.0
y = 2.0

#Addition
print(x+y)

#Subtraction
print(x-y)

#Multiplication
print(x*y)

#Division - Returns the quotient 
print(x/y)

#Modulus - Returns the remainder
print(x%y)

#Exponent/Powers
print(x**y)

##### Operations on Strings

In [14]:
a=[]
for i in range(5):
    n=n+1
    a.append(n)

In [15]:
a

[6, 7, 8, 9, 10]

In [24]:
import numpy as np
a=[1,2,3,4,5]
a=np.array(a)
a=a.astype("float32")
print(a[0])

1.0

In [16]:
x = 'Hello'
y = 'World'

a=1
b=2
#Concantinate two strings
print(x+' '+y)
print(a+b)

x1 = '3'
x2 = '4'
print(x1+x2)

#Repeat
print(x*2)

#Slicing 
a = x[2:4] #Range Slicing 
b = y[0] + y[1]

print(a)
print(b)

Hello World
3
34
HelloHello
ll
Wo

##### Few Helper functions for string manipulation

In [ ]:
#Capitalize string 
print(str.capitalize('hello')) #Capitalizes the first letter
s = 'hello'
print(s.upper()) #Capitalizes the entire word 

#Length of a string
str1 = 'hello world'
print(len(str1))

#Check if the string consists only digits 
str2 = 'h123'
str3 = '123'

print(str2.isdigit())
print(str3.isdigit())

#replace strings
print(str2.replace('123', 'ello'))

##### Boolean

In [ ]:
x = 4
y = 2

print(x==y)
print(x>y)

##### Data Type Conversion

In [ ]:
#To identify the data type 
a = 2
b = 4.00
c = 'hello'
d = True 

print(type(a))
print(type(b))
print(type(c))
print(type(d), "\n")

#Concatinate a int and a float 
x = 2
y = 'hello'

print(str(x)+y)

Non Primitive Data Structures

##### Lists

In [ ]:
#Initilizing a list
x1 = [] #Empty List
x2 = [1, 2, 3]
x3 = [1, 'apple', 4]
print(type(x1))
print(type(x2))
print(type(x3))

#Accessing data in a list 
x4 = ['a', 'b', 'c', 'd']
print(x4[2])

#Replacing values in a list 
x4[0] = 'z'
print(x4)

##### Common functions for Lists

In [ ]:
#Append - inserts at the end (only 1 digit) 
x = [1,2,3,4,5]
x.append(6)
print(x)

#Insert - insert at any desired index 
x = [1,2,3,4,5]
x.insert(0,6) #(index ,insert number)
print(x)

#Remove - pass by value
x = [1,2,3,4,5]
x.remove(1)
print(x)

#Delete - pass by index 
x = [1,2,3,4,5]
del x[1]
print(x)

#Reverse 
x = [1,2,3,4,5]
x.reverse()
print(x)

##### Dictionaries

Dictionaries are a type of data structures which holds a key-value pair.

In [1]:
a = {'Apple' : 12, 'Banana' : 15, 'Orange' : 20}
print(a)

#Finding a value of a specific key
print(a['Banana'])

#Length 
print(len(a))

#Printing keys and values seperately
print(a.keys())
print(a.values())

#Deleting a key (will also delete the value)
del a['Banana']
print(a)

#Adding a key
a['Strawberry'] = 24
print(a)

#Changing the value of a key
a['Apple'] = 25
print(a)

{'Apple': 12, 'Banana': 15, 'Orange': 20}
15
3
dict_keys(['Apple', 'Banana', 'Orange'])
dict_values([12, 15, 20])
{'Apple': 12, 'Orange': 20}
{'Apple': 12, 'Orange': 20, 'Strawberry': 24}
{'Apple': 25, 'Orange': 20, 'Strawberry': 24}