

# Loops

#### 1. While Loop

In [1]:
#Simple While loop

i=1 
while(i<=5):
    print(i)
    i=i+1
print('Loop is Terminated')

1
2
3
4
5
Loop is Terminated

In [2]:
#Finding the sum of even numbers bw 1 to 100

i=1
sum=0

while i<=100:
    if i%2 == 0:
        sum=sum+i
    i+=1
print('The summation is : ', sum)

The summation is :  2550

#### 2. For Loop

In [3]:
numsequence = range(5)
for i in numsequence: #OR for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
list1 = [1, 'B', 'C', 'D', 'E']
for i in range(len(list1)):
    print("Current Alphabet is: ", list1[i])
    
# OR
#for i in list1:
#   print(i)

Current Alphabet is:  1
Current Alphabet is:  B
Current Alphabet is:  C
Current Alphabet is:  D
Current Alphabet is:  E

#### Break & Continue

Break: #To end at the break condition

In [5]:
c = 1

while c<10:
    print(c)
    if c==8:
        break 
    c+=1

1
2
3
4
5
6
7
8

Continue: #To skip counter at the mentioned condition

In [6]:
c = 0

while c<10:
    c=c+1
    if c==8:
        continue 
    print(c)

1
2
3
4
5
6
7
9
10

#### Few Practice Examples

1. Find the Factorial of the given number

In [4]:
%%time

i=5 #input value
o=1
while i>1:
    o=o*i*(i-1)
    i-=2
print(o)

120
Wall time: 966 Âµs

In [5]:
%%time
                            #FOR>>>WHILE
num=5 #input value       
factorial=1
for i in range(1,num+1):
    factorial=factorial*i
print(factorial)

120
Wall time: 0 ns

2. Multiply all even numbers between a range of numbers

In [9]:
start=1
end=5
mul=1
for num in range(start, end+1):
    if num%2==0:
        mul=num*mul
print(mul)

8

3. Calacualte the sum of all the digits in a given numbere 
    #Ex. Input - 123 , Output - 6

In [10]:
i=123
sum=0
for digit in str(i):
    sum+= int(digit)
print(sum)

6

4. Write a program to reverse a given number.

In [11]:
i=123
o=''
for digit in str(i):
    o=digit+o
print(o)

321

5. Calaculate the average value of all even numbers bw 1 to 100 using loops

In [12]:
sum,c = 0, 0
for i in range(1,100+1):
    if i%2==0:
        sum+=i
        c+=1
print(sum/c)

51.0

6. Write a program to find the numbers which are divisible by 7 and a multiple of 5 bw 500 to 100 (inclusive).

In [13]:
for i in range(100-1,500+1):
    if(i%7==0):
        print(i, "is divisible by 7")
    if(i%5==0):
        print(i, "is divisible by 5")

100 is divisible by 5
105 is divisible by 7
105 is divisible by 5
110 is divisible by 5
112 is divisible by 7
115 is divisible by 5
119 is divisible by 7
120 is divisible by 5
125 is divisible by 5
126 is divisible by 7
130 is divisible by 5
133 is divisible by 7
135 is divisible by 5
140 is divisible by 7
140 is divisible by 5
145 is divisible by 5
147 is divisible by 7
150 is divisible by 5
154 is divisible by 7
155 is divisible by 5
160 is divisible by 5
161 is divisible by 7
165 is divisible by 5
168 is divisible by 7
170 is divisible by 5
175 is divisible by 7
175 is divisible by 5
180 is divisible by 5
182 is divisible by 7
185 is divisible by 5
189 is divisible by 7
190 is divisible by 5
195 is divisible by 5
196 is divisible by 7
200 is divisible by 5
203 is divisible by 7
205 is divisible by 5
210 is divisible by 7
210 is divisible by 5
215 is divisible by 5
217 is divisible by 7
220 is divisible by 5
224 is divisible by 7
225 is divisible by 5
230 is divisible by 5
231 is divisible by 7
235 is divisible by 5
238 is divisible by 7
240 is divisible by 5
245 is divisible by 7
245 is divisible by 5
250 is divisible by 5
252 is divisible by 7
255 is divisible by 5
259 is divisible by 7
260 is divisible by 5
265 is divisible by 5
266 is divisible by 7
270 is divisible by 5
273 is divisible by 7
275 is divisible by 5
280 is divisible by 7
280 is divisible by 5
285 is divisible by 5
287 is divisible by 7
290 is divisible by 5
294 is divisible by 7
295 is divisible by 5
300 is divisible by 5
301 is divisible by 7
305 is divisible by 5
308 is divisible by 7
310 is divisible by 5
315 is divisible by 7
315 is divisible by 5
320 is divisible by 5
322 is divisible by 7
325 is divisible by 5
329 is divisible by 7
330 is divisible by 5
335 is divisible by 5
336 is divisible by 7
340 is divisible by 5
343 is divisible by 7
345 is divisible by 5
350 is divisible by 7
350 is divisible by 5
355 is divisible by 5
357 is divisible by 7
360 is divisible by 5
364 is divisible by 7
365 is divisible by 5
370 is divisible by 5
371 is divisible by 7
375 is divisible by 5
378 is divisible by 7
380 is divisible by 5
385 is divisible by 7
385 is divisible by 5
390 is divisible by 5
392 is divisible by 7
395 is divisible by 5
399 is divisible by 7
400 is divisible by 5
405 is divisible by 5
406 is divisible by 7
410 is divisible by 5
413 is divisible by 7
415 is divisible by 5
420 is divisible by 7
420 is divisible by 5
425 is divisible by 5
427 is divisible by 7
430 is divisible by 5
434 is divisible by 7
435 is divisible by 5
440 is divisible by 5
441 is divisible by 7
445 is divisible by 5
448 is divisible by 7
450 is divisible by 5
455 is divisible by 7
455 is divisible by 5
460 is divisible by 5
462 is divisible by 7
465 is divisible by 5
469 is divisible by 7
470 is divisible by 5
475 is divisible by 5
476 is divisible by 7
480 is divisible by 5
483 is divisible by 7
485 is divisible by 5
490 is divisible by 7
490 is divisible by 5
495 is divisible by 5
497 is divisible by 7
500 is divisible by 5

7. Write a program which iterates through 1 to 50, and if the number is a multiple of 3, print "Multiple of 3" ; if the number is  multiple of 5, print "Multiple of 5" ; if the number is a multiple of both 3 and 5, print "Multiple of 3 and 5" ; else print the number.

In [14]:
for i in range(1,50+1):
    if(i%3==0 and i%5==0):
        print(i, "is a Multiple of 3 and 5")
    elif(i%3==0):
        print(i, "is a Multiple of 3")
    elif(i%5==0):
        print(i, "is a Multiple of 5")
    else:
        print(i)

1
2
3 is a Multiple of 3
4
5 is a Multiple of 5
6 is a Multiple of 3
7
8
9 is a Multiple of 3
10 is a Multiple of 5
11
12 is a Multiple of 3
13
14
15 is a Multiple of 3 and 5
16
17
18 is a Multiple of 3
19
20 is a Multiple of 5
21 is a Multiple of 3
22
23
24 is a Multiple of 3
25 is a Multiple of 5
26
27 is a Multiple of 3
28
29
30 is a Multiple of 3 and 5
31
32
33 is a Multiple of 3
34
35 is a Multiple of 5
36 is a Multiple of 3
37
38
39 is a Multiple of 3
40 is a Multiple of 5
41
42 is a Multiple of 3
43
44
45 is a Multiple of 3 and 5
46
47
48 is a Multiple of 3
49
50 is a Multiple of 5

In [1]:
#include <stdio.h>
#include <stdlib.h>
 
struct Node {
    int data;
    struct Node* next;
};
 
// This function prints contents of linked list starting from
// the given node
void printList(struct Node* n)
{
    while (n != NULL) {
        printf(" %d ", n->data);
        n = n->next;
    }
}
 
int main()
{
    struct Node* head = NULL;
    struct Node* second = NULL;
    struct Node* third = NULL;
 
    // allocate 3 nodes in the heap
    head = (struct Node*)malloc(sizeof(struct Node));
    second = (struct Node*)malloc(sizeof(struct Node));
    third = (struct Node*)malloc(sizeof(struct Node));
 
    head->data = 1; // assign data in first node
    head->next = second; // Link first node with second
 
    second->data = 2; // assign data to second node
    second->next = third;
 
    third->data = 3; // assign data to third node
    third->next = NULL;
 
    printList(head);
 
    return 0;
}

SyntaxError: invalid syntax (Temp/ipykernel_29472/2142202380.py, line 4)